{% load static %}
{% static "images" as imagedir %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <title>Form</title>
</head>

<body>
    <div class="layout">
       <h1>User Registration Form</h1>
       <form action="register" method="POST">
        {% csrf_token %}


           <h2>First Name </h2>
           <input type="text" name="first_name" placeholder="First Name"> 

           <h2>Last Name </h2>
           <input type="text" name="last_name" placeholder="Last Name">

           <h2>Username</h2>
            <input type="text" name="username"                  placeholder="Username"><br>

            <h2>Email Address</h2>
                <input type="email" name="email" placeholder="example@mail.com">
            
                <h2> Type Password</h2>
                <input type="password" name="password1" placeholder="******"><br>
                
                <h2> ConfirmPassword</h2>
                <input type="password" name="password2" placeholder="******"><br>
            
                <div class="btn"><input type="button" name="submit" value="Submit"></div>
            
            </form> 
            
            <div>
                {% for i in messages %}
                <h2> {{i}}</h2>
                {% endfor %}
            </div>

                <footer>
        &copy; Manash Mondal, 2020</footer>
    </div>
    
    

</body>

</html>
